<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6 form">
      <%= simple_form_for @user do |f| %>
        <div>
          <%= f.input :username %>
        </div>
        <div>
          <%= f.input :password %>
        </div>
        <div>
          <%= f.input :email %>
        </div>
        <div>
          <%= f.input :avatar %>
        </div>
        <div>
          <%= f.input :bio %>
        </div>
        <div>
          <%= f.button :submit, class: "btn btn-primary"%>
        </div>
      <% end %>
    </div>
  </div>

</div>
