<div class="container">
  <div class="row">
    <div class="col-md-3 username">
      <%= @user.username %>
    </div>
    <div class="col-md-9 post_header">
      Posts by <%= @user.username %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 photo">
      <%= image_tag @user.avatar, class: "img-circle" %>
    </div>
    <div class="col-md-9 posts">
      <% @user.posts.each do |post| %>
        <ul>
          <li><%= link_to post.title, post %></li>
        </ul>
        <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 edit">
      <% if current_user == @user %>
        <%= link_to "Edit profile", edit_user_path(@user), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

</div> <!--container-->
