<% if @post.errors.any? %>
  <div class="bg-danger col-md-12">
    <ul class="list-unstyled">
      <% @post.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </ul>
  </div>
<%end%>

<div class="container">
  <div class="form-group">
      <%= form_for @post, html: {class: "form-horizontal"} do |f| %>
      <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <div>
        <%= f.label :body %>
        <%= f.text_area :body, class: "form-control"%>
      </div>
      <!-- <div>
        <%= f.label :user_id %>
        <%= f.select :user_id, User.all.map { |u| [u.username, u.id] }, { include_blank: true }, { class: "form-control" } %>
      </div> -->
      <div>
        <%= f.submit class: "btn btn-success submit_post" %>
      </div>
    <% end %>
  </div>
</div>
