<div class="container">
  <%= simple_form_for @post, class: "form-horizontal" do |f| %>
  <%= f.input :title %>
  <%= f.input :body %>
  <%= f.input :image %>
  <%= f.input :picture %>
  <div class="row submit_button">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
  <% end %>
</div>
